.creature_image {
  min-width: 140px;
  width: 140px;
  height: auto;
  border: 2px solid silver;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  text-align: center;
  padding: 10px;
}

.creature_image:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(225, 179, 130, 0.5);
  border-color: #c8963e;
}

.pokemon_name {
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 10px;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: anywhere;
}

